@font-face {
    font-family: "gyeonggiBatang";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/gyeonggiBatang/gyeonggiBatang-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/gyeonggiBatang/gyeonggiBatang-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/gyeonggiBatang/gyeonggiBatang-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/gyeonggiBatang/gyeonggiBatang-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/gyeonggiBatang/gyeonggiBatang-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "gyeonggiBatang";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/gyeonggiBatang/gyeonggiBatang-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/gyeonggiBatang/gyeonggiBatang-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/gyeonggiBatang/gyeonggiBatang-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/gyeonggiBatang/gyeonggiBatang-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/gyeonggiBatang/gyeonggiBatang-Bold.ttf") format("truetype");
    font-display: swap;
} 
.gyeonggiBatang {
    font-family: "gyeonggiBatang";
}
.gyeonggiBatang400 {
    font-family: "gyeonggiBatang";
    font-weight: 400;
}
.gyeonggiBatang700 {
    font-family: "gyeonggiBatang";
    font-weight: 700;
}
